/* global styles */
body {
  margin: 0;
  font-family: Avenir, Avenir Light;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #3E3D35;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

/* header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #3E3D35;
  border-bottom: 1px solid white;

}

nav {
  display: flex;
  justify-content: right;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:not(:last-child) {
  margin-right: 40px;
}

nav a {
  font-size: 13px;
  color: gray;
}

nav a:hover {
  animation: lights 10000ms linear infinite;
}

h1 {
  font-size: 25px;
  color: #B0AC9F;
  position: absolute;
  top: 8px;
  left: 16px;
  margin-bottom: 50px;
}


.head {
  margin-top: 2%;
  position: relative;
  text-align: center;
  color: white;
  
}

.wel {
  position: flex;
  top: 50%;
  left: 15%;
  font-size: 60px;
}

.sec {
  position: flex;
  top: 60%;
  left: 15%;
  font-size: 18px;
}

/* section styles */
section {
  padding: 50px;
}


/* section-specific styles */

#programming {
  margin-top: 10%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 30%; 
  margin-right: 100px;
  width: 60%;
  height: 400px;

}